*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg, #8052ec, #d161ff);
}
.board{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.board-row{
    display: flex;
}
.square{
    
    height: 100px;
    width:100px;
    margin: 4px;
    font-size:34px;
    background: #ffffff;
    color: #d161ff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.Reset{
        font-size: 1.3em;
        padding: 1em;
        border-radius: 8px;
        background-color: #0a0027;
        color: #ffffff;
        border: none;
        position: relative;
        margin: 1.5em auto 0 auto;
        display: block;
        width: 20%;
    
}
  
  
  
  
  